FunGraph3D/
FunGraph3D
SingleObj/
outputs/
__pycache__/
*/__pycache__/
egoexo_mesh/
cooking_simple_keysteps_review_*/
cooking_scene_geometry/
cooking_gt_point_clouds/
cooking_additional_keysteps_review_*/
cooking_geometry_instance_video_map/
full_dataset/
full_dataset
egoexo_generate_mesh/
egoexo_pcd/
recentered_output/
tmp_rough_pcds/
visualizations/
annotation/
egoexo_data_file/
test_urdf*/
debug_file/